
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Assistant', sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Assistant', sans-serif;
}

.dateRange {
  display: flex;
  margin: 0;

}


